.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.running {
  background-color: #388E3C;
  color: white;
  margin: 1.1em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: inline-block;
  border-radius: 2em;
  font-weight: bolder;
  font-size: 0.8em;
  line-height:2em;
}

.failed {
  background-color: #9A3324;
  color: white;
  margin: 1.1em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: inline-block;
  border-radius: 2em;
  font-weight: bolder;
  font-size: 0.8em;
  line-height:2em;
}

.queued {
  background-color: #384d8e;
  color: white;
  margin: 1.1em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: inline-block;
  border-radius: 2em;
  font-weight: bolder;
  font-size: 0.8em;
  line-height:2em;
}

.warning {
  color: #ffbc05  ;
  text-decoration: none;
  padding: 0.5em;
  margin: 0em;
  border-radius: 2em;
}

.job-table-head th {
  font-weight: bold;
}